.welcomeContainer{
    width: 100%;
    height: auto;
}


.welcome-content {
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.welcome-quotes h4 {
    width: 600px;
    font-size: 30px;
    margin-bottom: 10px;
}

.welcome-quotes p {
    width: 600px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;

}

.welcome-quotes button {
    padding: 10px 30px;
    color: #fff;
    background-color: #3B583C;
    border-radius: 25px;
    border: 1px #3B583C solid;
    cursor: pointer;
}

.welcome-quotes button:hover {
    color: #3B583C;
    background-color: #fff;
}

.welcome-card {
    width: 30vw;
}

.carousel-card h3 {
    margin-top: 10px;
}

.carousel-card p {
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.welcome-bg {
    position: absolute;
    top: -200px;
    left: 800px;
    z-index: -1;
    transform: rotate(-0.20turn);
}

/* shop plants */
.welcome-shop {
    width: 100%;
    height: auto;

    padding: 0 10%;
    background-color: #f1f1f1;
}


.shop-header h2 {
    font-size: 30px;
    font-weight: 800px;
    padding: 10px;
}

.welcome-shopbtn {
    text-align: center;
}

.welcome-shopbtn button{
    padding: 10px 100px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;

    border-radius: 5px;
    border: 2px solid #f1f1f1;
    color: white;
    background-color: #3B583C;
    cursor: pointer;
}

.welcome-shop button:hover{
    background-color: #f1f1f1;
    color: #3B583C;
    border: 1px solid black;
}


/* date */
.welcome-date {
    width: 100%;
    height: 80vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.shopdate {
    width: 40%;
    margin-bottom: 100px;
    margin-left: 50px;
    text-align: justify;

}

.shopdate h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.shopdate p{
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

.shop-photo img{
    width: 600px;
    transform: rotate(0.10turn);
}